.navbar{
  margin-bottom: 0;
  background-color: transparent;
  color: black;
};
a-navbar-brand {
  font-size: 31px;
  color: black;
  font-family: 'Calistoga', cursive;
} 

#bar {
  font-size: 30px;
  color: black;
  font-family: 'Calistoga', cursive;
}

a{
  font-size: 25px;
  color: black;
  font-family: 'Calistoga', cursive;
}